# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
*.env

# Ignore hidden OS files
.idea/
.vscode/
